body{
	width: 100%;
	box-sizing: border-box;
	color:white;
	background:#0079BF;
}

h1{
	font-family: 'Roboto', sans-serif;
}

button {
	color:white;
}

nav .container{
	margin:0;
	padding:15px;
}

.jumbotron{
	background-color:#026AA7;
	width: 100%;
}

#logIn{
	background-color:#026AA7;
}
#signUp{
	background-color:#549F3D;
}

