* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

body{
	width: 100%;
	box-sizing: border-box;
	color:white;
	background-color:#0079BF;
	overflow-x: scroll;
    overflow-y:scroll;
    position:relative;
}

/*project.html body*/
#project {
    width: 100%;
    box-sizing: border-box;
    color:black;
    background-color: white;
    overflow-x: scroll;
}

h1{
    font-family: 'Pacifico', cursive;
    white-space: nowrap;
}

h2{
    font-family: 'Roboto', sans-serif;
}

a{
	color:white;
	text-decoration: none;
}
nav .container{
	margin:auto;
	padding:15px;

}

nav ul{
	overflow: auto;
}

p{
	color:black;
}

.navbar {
    background-color:#0079BF;
		box-shadow: 0px 6px 6px -4px #386f8f;
		border-radius: 0 !important;
}

.jumbotron{
	background-color:#026AA7;
	width: 100%;
    padding-top:20%;
    padding-bottom:20%;
    margin:5% 0;
		height: -webkit-fill-available;
}

.welcomeBar a{
    margin-top:5%;
}

#aboutUs{

    text-align:center;
}


#aboutUs ul{
	list-style: none;
    display: inline-flex;
}


.members p{
    max-width: 80%;
}

#menuWrapper{
    position:absolute;
}
#menu{
    position:relative;
    left:100%;
}

.main-container{
    padding-top:100px;
}

.boards-page{
    white-space: nowrap;
    display:inline-flex;
    color:black;
    margin-bottom:5%;
    max-height:500px;
}

.fa-times{
	color: #6f6f6f;
}

.fa-times:hover {
	color: black;
}

/*NEW CSS*/

.btn-info {
    margin:1px;
}

.fa-plus{
    color: #6f6f6f;
}

.fa-plus:hover {
    color: black;
}

/*END NEW*/

.list-cards {
	min-height: 10px;
	max-height: 590px;
	overflow-y:scroll;
	margin-bottom: 8px;
}

.card-wrap{
    background-color:#E2E4E6;
    border-radius: 3px;
		height: fit-content;
		width: 250px;
		margin: 0 3px;
    max-height: 700px;
}

.card-wrap h6 {
	padding: 8px 8px 0px 8px;
	margin: 3px 0 11px 0;
}

::-webkit-scrollbar{
    width:0px;
}

form.editListForm input, form.editTaskForm input {
	border: none;
	margin: 9px 8px 6px 8px;
	font-family: 'Roboto', sans-serif;
	width: 220px;
	padding: 0;
	border-radius: 3px;
}

form.editTaskForm input {
	padding: 4px 0 4px 3px;
	margin-top: 0px;
	width: 234px;
}

.card-wrap a {
	width: 100%;
	color: #8c8c8c !important;
	font-size: 14px;
	padding: 4px 8px 10px 8px;
	display: block;
	border-radius: 0 0 3px 3px;
}

.card-wrap a:hover {
	background-color: #cacaca;
	color: #505050;
}

.addCard {
	margin: 4px 8px 6px 8px;
}

#lists{
    width:auto;
    white-space: pre-wrap;
    display: inline-flex;
	padding: 0 4px;
}

#addList{
    border-radius: 3px;
		width: 250px;
		display: block;
    height: max-content;
}

#addList span {
	background-color:#005180;
	color: #b0d1e4;
	display: block;
	border-radius: 3px;
	padding: 8px;
	font-size: 14px;
	width:234px;
	position: relative;
	top:8px;
	left:8px;
}

#addList span:hover {
	background-color: #386f8f;
}

#addListWrapper {
	background-color: #E2E4E6;
	padding: 8px;
	border-radius: 3px;
	width:250px;
}

input #title {
	font-family: 'Roboto', sans-serif;
}

.card-detail {
	border-radius: 3px;
	height: max-content;
	background-color: white;
	padding: 4px;
	margin: 0 8px 6px 8px;
	word-break: break-all;
	box-shadow: 0px 1px 1px -1px grey;
}

#newBoardInfo,
#newTeamInfo{
    display:none;
    color:black;
    margin-top:1px;
}

.main-content{
    width:90%;
    margin:0 auto;
}
/*ul.boards-warpper{

}*/
ul.boards-wrapper li{
    display: inline-flex;
    border-radius:2%;
    color:white;
    background-color: #026AA7;
    padding: 5% 10%;
    margin:2%;
    width:25%;
    font-weight: bold;
    position:relative;
}

/* jQuery UI styling*/
.ui-sortable-placeholder-lists {
	width: 250px;
	background: #158;
	border-radius: 4px;
	margin: 0 6px;
}

.ui-sortable-placeholder-cards {
	background: #bbb;
	border-radius: 5px;
	margin-bottom: 6px;
	margin-left: 8px;
}
ul.boards-wrapper {
 list-style: none;
 padding:0;
 margin-left: -2%;
}

/*==============CHAT STYLING==============*/

/*body{
    font-family: 'Nunito';
}*/
#board-chat{
    /*border: 1px solid #ddd;*/
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    background-color: white;
    width:24%;
    position:fixed;
    right:10px;
    bottom:0;
    max-height:500px;
}

#chat-window{
    max-height:300px;
    overflow: auto;
    display:none;
		padding: 5px;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 0px;
}

#message {
    box-sizing: border-box;
    border: 0;
    display: block;
    color: black;
    border-bottom: 1px solid #eee;
    font-family: sans-serif;
    font-size: 16px;
    width:100%;
		padding-left: 5px;
}

#sendBtn{
    background: #005180;
    color: #fff;
    font-size: 18px;
    border: 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

/*========END CHAT STYLING============*/

.blocker {
    background-color: transparent;
}

.modal a.close-modal {
    top:-2.5px;
    right:-2.5px;
}

/* navbar styling new */

.hover:hover {
	background: #cff;
	border: 1px solid #0079bf !important;
	color: #0079bf !important;
}

#collapseBtn {
	background: #0079BF;
	border: 1px solid #cff;
	color: #cff;
}

#collapseBtn:hover {
	background: #cff;
	border: 1px solid #0079BF;
	color: #0079BF;
}

#logo-link {
	color: #cff;
}

#logo-link:hover {
	color: white;
	text-decoration: none !important;
}
