body{
	width: 100%;
	box-sizing: border-box;
	color:white;
	background-color:#0079BF;
	overflow-x: scroll;
}

h1{
	font-family: 'Roboto', sans-serif;
}

h4{
	color:black;
}
button {
	border-radius: 3px;
	box-shadow: 0 2px 1px #888888;
}

a{
	color:white;
	text-decoration: none;
}
nav .container{
	margin:auto;
	padding:15px;
}

nav ul{
	overflow: auto;
}

p{
	color:black;
}

form {
	margin:20px;
}

.jumbotron{
	background-color:#026AA7;
	width: 100%;
}

#logIn{
	background-color:#026AA7;
}
#signUp{
	background-color:#549F3D;
}

.main-container{
	margin: 0 auto;
    max-width: 1250px;
    padding: 20px 1pc 0;
}

.boards-page{
    white-space: nowrap;
    display:inline-flex;   
}

.card-wrap{
    background-color:#E2E4E6;
    border: 2px solid grey;
    border-radius: 3px;
}
#lists{
    width:30%;
	background-color:#E2E4E6;      
    height:auto;
    white-space: pre-wrap;
    display: inline-flex;
}

/*detail{
	white-space: pre-wrap;
	
}
*/
#defaultList{
    float:right;
}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

